// -----------------------------------------------------------------------------
// This file contains all styles related to the RecipeCard component.
// -----------------------------------------------------------------------------

.recipeCard {
    width: '18rem';
    cursor: pointer;

    & > img {
        height: 160px;
        width: 100%;
        display: block;
    }
    & > .card-body {
        height: 124px;
    }
}
