// -----------------------------------------------------------------------------
// This file contains all styles related to the RecipeCard component.
// -----------------------------------------------------------------------------

.recipeCard {
    width: '18rem';

    & > img {
        height: 160px;
        width: 100%;
        display: block;
    }
}
